body {
    background-image: url("iemand.jpg");
    background-repeat: repeat;
    text-align: left;
    color: transparent;
    background-size: 40%;
    animation: scroll linear;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
