body {
    background-image: url("iemand.jpg");
    background-repeat: repeat;
    text-align: left;
    color: transparent;
    background-size: 90%;
    animation: scroll 100s linear infinite alternate;
}

@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
